.addition-catalog__wrapper {
  padding-left: 20px;
  padding-right: 20px;

  position: relative;

  &::before {
    position: absolute;
      content: '';
      top: 15px;
      right: 0;
      
      background: $basic_green;
      width: calc(100% - 270px);
      height: 2px;

    @media (min-width: $tablet-width) {
      position: absolute;
      content: '';
      top: 15px;
      right: auto;
      z-index: -1;

      box-shadow: 0 0 0 100vmax $basic_green;
      clip-path: inset(0 -100vmax); 

      background: white;
      width: 411px;
      height: 2px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.addition-catalog__title {
  margin-top: 25px;
  margin-bottom: 36px;
  font-family: 'Oswald';
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding-left: 37px;
    font-size: 36px;
    line-height: 36px;
  }
}

.addition-catalog__list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;

  border-bottom: 1px solid $special_grey;

  @media (min-width: $tablet-width) {
    // padding-left: 36px;
    // padding-right: 36px;
    border: 1px solid $special_grey;
  }
}

.addition-catalog__gift {
  margin-top: 39px;
  margin-bottom: 35px;
}