.advantages__wrapper {
  padding: 0px 21px 38px 20px;

  @media (min-width: $tablet-width) {
    padding: 0px 150px 48px 30px;
    border-bottom: 1px solid $border-color;
  }

  @media (min-width: $desktop-width) {
    padding: 0px 40px 11px 40px;
    border-bottom: none;
  }
}

.advantages__title {
  line-height: 40px;

  @media (min-width: $tablet-width) {
    line-height: 100%;
  }
}

.advantages__list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
      
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    gap: 0px;
    justify-content: space-between;
    max-width: none;
  }
}

.advantages__item {
  // outline: 2px solid red;

  display: flex;
  column-gap: 20px;

  @media (min-width: $tablet-width) {
    width: 41.6%;
    height: 280px;
    flex-direction: column;

    column-gap: 0px;
    row-gap: 31px;

    padding-top: 40px;


    background-repeat: no-repeat;
    background-position: 128px 40px;

    &--one {
      background-image: url(../images/svg/one.svg);
    }

    &--two {
      background-image: url(../images/svg/two.svg);
    }

    &--three {
      background-image: url(../images/svg/three.svg);
    }

    &--four {
      background-image: url(../images/svg/four.svg);
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 230px;
    max-width: 250px;
  }
}

.advantages__item br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }

  @media (min-width: 1019px) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.advantages__item p {
  margin: 0px;
}

.advantages__icon {
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  background-color: $basic_green;
  background-repeat: no-repeat;
  background-position: center;

  &--leaf {
    background-image: url('../images/svg/icon_leaf.svg');
  }

  &--tub {
    background-image: url('../images/svg/icon_tub.svg');
  }

  &--eat {
    background-image: url('../images/svg/icon_eat.svg');
  }

  &--alarm {
    background-image: url('../images/svg/icon_alarm.svg');
  }

  @media (min-width: $tablet-width) {
    min-width: 80px;
    max-width: 80px;
    height: 80px;
  }
}

.advantages__text {
  font-family: 'Arial';
  font-size: 14px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}