.button {
  color: white;
  background-color: $basic_green;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border: 0px;

  &:hover {
    background-color: $basic_green-2;
  }

  &:active p {
    opacity: 0.3;
  }

  &--show-more {
    background-color: $basic_grey;
    color: $special_dark-grey;

    &:hover {
      background-color: $special_grey-2;
    }

    &:active p {
      opacity: 0.3;
    }
  }
}