.our-catalogs-card {
  padding: 30px 0px 22px 0px;
  background-color: $basic_grey;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 77px 0px 53px 0px;
  }
}

.our-catalogs-card__icon {
  position: absolute;
  top: 24px;
  left: 22px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
    left: auto;
    right: 62px;
  }
}

.our-catalogs-card__icon-wide {
  left: 13px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    left: auto;
    right: 26px;
  }
}

.our-catalogs-card__title {
  margin: 0px 0px 29px 91px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0px 0px 24px 53px;
  }
}

.our-catalogs-card__text {
  margin: 0px 20px 0px 20px;
  padding-bottom: 23px;
  color: $special_dark-grey;
  font-size: 14px;
  font-family: 'Arial';

  border-bottom: 1px solid #D9D9D9;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin: 0px 279px 0px 52px;
    padding-bottom: 0px;
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
    // max-width: 377px;

    & br {
      display: inline;
    }
  }
}

.our-catalogs-card__button {
  margin-left: 19px;
  margin-top: 23px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 100px;
    width: 24px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='12' viewBox='0 0 24 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='6' x2='18' y2='6' stroke='black' stroke-width='2'/%3E%3Cpath d='M24 6L17.25 11.1962L17.25 0.803848L24 6Z' fill='black'/%3E%3C/svg%3E");
  }

  @media (min-width: $tablet-width) {
    margin: 52px 0px 24px 52px;
  }
}

.our-catalogs-card__button a {
  text-decoration: none;
  color: black;
}