.our-catalogs {
  
}

.our-catalogs__wrapper {
  padding: 22px 20px 27px 20px;

  @media (min-width: $tablet-width) {
    padding: 22px 30px 27px 30px;
  }
}

.our-catalogs__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.our-catalogs__item {
  &:nth-child(1) {
    margin-bottom: 30px;
  }
}