.page-header__wrapper {

  @media (min-width: $tablet-width) {
    padding: 24px 30px 64px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 40px 111px 40px;
  }
}

.page-header__top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 23px 15px 20px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    padding: 0px;
  }
}

.page-header__toggle {
  width: 24px;
  height: 18px;
  background-color: white;
  cursor: pointer;
  border: none;
  -webkit-tap-highlight-color: transparent;
  
  @media (min-width: $tablet-width) {
    display: none;
  }

  &--closed::before {
    content: '';
    position: absolute;
    top: 23px;
    right: 23px;
    width: 24px;
    height: 1.5px;
    background-color: black;
    box-shadow: 
      0 8px 0 0 black, 
      0 16px 0 0 black;
  }

  &--open::before,
  &--open::after {
    content: '';
    position: absolute;
    top: 31px;
    right: 20px;
    width: 24px;
    height: 1.5px;
    background-color: black;
  }

  &--open::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &--open::after {
    transform: rotate(-45deg);
  }
}