.page-header__wrapper {

  @media (min-width: $tablet-width) {
    padding: 24px 30px 64px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 40px 111px 40px;
  }
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 23px 0px 20px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    padding: 0px;
  }
}

.page-header__toggle {
  width: 18px;
  height: 18px;
  
  @media (min-width: $tablet-width) {
    display: none;
  }
}