.promo {
  height: 500px;
  padding-top: 0.03px;
  color: white;

  @media (min-width: $tablet-width) {
    color: black;
  }

  &::before {
    content: ' ';
    z-index: -1;
    display: block;
    position: absolute;
    width: 100%;
    min-width: 320px;
    height: 302px;

    background-image: 
      linear-gradient(rgba(104, 183, 56, 0.85) 302px, transparent 302px),
      url(../../images/background-cat.png),
      linear-gradient(hsla(250, 4%, 33%, 1) 302px, transparent 302px);
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      background: white;
    }

    @media (min-width: $desktop-width) {
      top: 0;
      left: 0;
      height: 670px;
      background-image:
        linear-gradient(270deg, rgba(104, 183, 56, 0.85) 50%, transparent 50%),
        url(../../images/background-cat-desktop.png),
        linear-gradient(270deg, hsla(250, 4%, 33%, 1) 50%, transparent 50%);

      background-position: right;
      background-repeat: no-repeat;
    }
  }
}

.promo__wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 117px;
    padding-right: 117px;
    position: relative;
    height: 500px;
  }
}

.promo__title {
  text-align: center;
  height: 72px;

  @media (min-width: $tablet-width) {
    text-align: left;
    width: 416px;
    height: auto;
  }
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  margin-bottom: 35px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}

.promo__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;

    right: 250px;
    z-index: -1;
  }
  
  @media (min-width: $desktop-width) {
    z-index: auto;
  }
}

.promo__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    margin-top: 49px;
  }
}