.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding-top: 4px;
  padding-bottom: 6px;
}

.slider__before,
.slider__after {
  padding-left: 10px;
  padding-right: 10px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.slider__input {
  -webkit-appearance: none;
  height: 6px;
  background: #DCDCDC;
  border-radius: 6px;
  display: inline-block;

  &::-webkit-slider-thumb {    
    -webkit-appearance: none;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    // background: white;
    // background-image: 
    //   linear-gradient(white, white),
    background-image: 
      url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='4' fill='%2368B738'/%3E%3C/svg%3E%0A"),
      linear-gradient(white, white);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #CDCDCD;
    cursor: pointer;
  }

  &--mobile {
    position: relative;
    width: 84px;
    height: 14px;
    border: 1px solid $special_grey;
    border-radius: 6px;

    @media (min-width: $tablet-width) {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 5px;
      width: 35px;
      height: 6px;
      background: #68B738;
      border-radius: 6px;
    }
  }

  &--tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline-block;
      width: 428px;
    }
  }
}