//Colors

$special_dark-grey: #444444;
$basic_green: #68B738;
$basic_green-2: #5EAA2F;
$basic_grey: #F2F2F2;
$border-color: #E6E6E6;

//Viewports

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;